
@{
    ViewBag.Title = "Index";
}

<h2>Manager Home Page</h2>

<br />

<p class="text-success">@ViewBag.StatusMessage</p>

<br />

<p>
    @Html.ActionLink("Proposed Intervention", "ProposedInterventionList", "Interventions", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { @class = "link-button" })
</p>