
@{
    ViewBag.Title = "Index";
}
<script>
    function noBack() { window.history.forward() }
    noBack();
    window.onload = noBack;
    window.onpageshow = function (evt) { if (evt.persisted) noBack() }
    window.onunload = function () { void (0) }
</script>


<h2>Manager Home Page</h2>

<br />

<p class="text-success">@ViewBag.StatusMessage</p>

<br />

<p>
    @Html.ActionLink("Proposed Intervention", "ProposedInterventionList", "Interventions", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("Approved Intervention", "ManagerApprovedInterventionList", "Interventions", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { @class = "link-button" })
</p>