
@{
    ViewBag.Title = "Index";
}

<h2>Accountant Home Page</h2>

<br />

<p class="text-success">@ViewBag.StatusMessage</p>

<br />

<p>
    @Html.ActionLink("List of SiteEngineer & Manager", "Index", "Users", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("Run Report", "", "", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { @class = "link-button" })
</p>